.user-card{
    background-color: #ebebeb;
    height: 300px;
    width: 650px;
    margin: 50px auto;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-card-container {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.user-avatar img {
    border-radius: 100%;
    height: 180px;
    width: 180px;
}

.user-info {
    font-size: 24px;
}